p {
  font-size: 30px;
}

img{
  max-width: 20%;
}

#clicks1,#clicks2{
  color: tomato;
}

.jumbotron {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: tomato;
  background-color: black;
}
